html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0px;
}

iframe.navigationBar {
    width: 100%;
    height: 83px;
    border: none;
    margin-bottom: 20px;
}

iframe.siteContent {
    width: 100%;
    height: 100%;
    border: none;
}

iframe.mainFrame {
	width: 100%;
	height: 100%;
    border: none;
}