/*
TestLink Open Source Project - http://testlink.sourceforge.net/
@filesource custom.css
*/


/* ***** Execution & Results ************************************************ */
.x-t1-panel-header {
    background-image: none;
}


/* ***** execution tree coloring ******************************************** */
span.my_status
{
	color:				black;
	padding:			3px;
}

span.light_my_status {
	background: 		#FFE28C;
}


/* ***** render test result status (coloring background) ******************** */

.my_status {
	color: 			white;
	background:		#FF8C11;
}


/* ***** render test result status (coloring text) ************************** */

.my_status_text {
	color:       #FF8C11;
	font-weight: bold;
}

/* ----- END ---------------------------------------------------------------- */
